{% extends 'base.html'%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewreport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
    <title>NCSU Campus Job</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='/css/index.css')}}"
    />
  </head>
  <body scroll="no" style="overflow: hidden">
    {% block content %}
    <div class="card w-75 mx-auto opacity-75 h-full">
      <div class="card-body">
        <h5 class="card-title">{{job.title}}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">
          {{job.employer_id}}
        </h6>
        <h6 class="card-subtitle mb-2 text-body-secondary">
          Location: {{job.location}}
        </h6>
        <h6 class="card-subtitle mb-2 text-body-secondary">
          ${{ "{:,.2f}".format(job.pay) }}
        </h6>
        <p class="card-text">{{job.description}}</p>
        <form action="{{ url_for('apply', job_id=job.job_id) }}" method="POST">
          <button
            type="submit"
            class="btn btn-danger btn-md"
            onclick="return confirm('Are you sure you want to apply for this job?');"
          >
            Submit application
          </button>
        </form>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
