{% extends 'base.html'%}

    {% block content %}
    <link rel="stylesheet" href="{{url_for('static', filename='/css/apply_job.css')}}"/>
    <div class="card w-75 mx-auto opacity-75 h-full">
      <div class="card-body">
        <h5 class="card-title">{{job.title}}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">
          {{job.employer_id}}
        </h6>
        <h6 class="card-subtitle mb-2 text-body-secondary">
          Location: {{job.location}}
        </h6>
        <h6 class="card-subtitle mb-2 text-body-secondary">
          ${{ "{:,.2f}".format(job.pay) }}
        </h6>
        <p class="card-text">{{job.description}}</p>
        <form action="{{ url_for('apply', job_id=job.job_id) }}" method="POST">
          <button
            type="submit"
            class="btn btn-danger btn-md"
            onclick="return confirm('Are you sure you want to apply for this job?');"
          >
            Submit application
          </button>
        </form>
      </div>
    </div>
    {% endblock %}
 