{% extends "base.html" %}
<title>NCSU Job Review System - Login</title>

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"/>

<div class="login-container">
  {% if error %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <p>{{error}}</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}

  <div class="login-form-container">
    <h2 class="text-center">Login</h2>
    <form class="login-form needs-validation" method="POST" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" name="username" required />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" required />
      </div>
      <div class="col-12 text-center">
        <button class="btn btn-primary" type="submit">Log In</button>
      </div>
    </form>
    <div class="signup-link text-center">
      Don't have an account? <a href="{{ url_for('signup') }}" class="text-danger">Sign up here</a>
    </div>
  </div>
</div>

{% endblock %}

<script>
  (() => {
    "use strict";
    const forms = document.querySelectorAll(".needs-validation");
    Array.from(forms).forEach((form) => {
      form.addEventListener("submit", (event) => {
        if (!form.checkValidity()) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add("was-validated");
      });
    });
  })();
</script>

