{% extends 'base.html' %}


    {% block content %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/css/view_applicants.css')}}" />
    <div class="container mt-5">
        <h2 class="text-center text-white mb-4">Applicants for Your Jobs</h2>

        {% if not applicants %}
            <p class="text-center text-white">No applicants for jobs at the moment.</p>
        {% else %}
            <div class="d-flex gap-2 flex-wrap justify-content-center mx-auto">
                {% for application in applicants %}
                <div class="card w-25 opacity-75 mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ application.user_name }}</h5>
                        <h6 class="card-subtitle mb-2">
                            Job Title: 
                            {% for job in jobs %}
                                {% if job.job_id == application.job_id %}
                                    {{ job.title }}
                                {% endif %}
                            {% endfor %}
                        </h6>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    {% endblock %}

